<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Kassie</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Express Portfolio 2022
    </div>
  </div>
</footer><!-- End  Footer -->