<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %> 
<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Here are the list of services below</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <img src="assets/images/web.jpg" height="115px" width="365px">
              </div>
              <h4>Front-End Web Developer</h4>
              <p>I have work experience as a Front-End Web Developer which converts PSD files to working 
                  HTML web files. My responsibilities includes E-commerce website development using Prestashop, 
                  convert Web designs to HTML/CSS, and Wordpress development.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <img src="assets/images/support.png" height="115px" width="365px">
              </div>
              <h4>Web Support Engineer</h4>
              <p>I have work experience as a Support Engineer which provides 
                  technical and web support to customers related on digital 
                  campaigns and placements/Ads. I managed to resolve product 
                  issues and troubleshoot web related issues for Sizmek Ad Suite 
                  by Amazon products. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <img src="assets/images/programmer.jpg" height="115px" width="365px">
              </div>
              <h4>Programmer</h4>
              <p>I have work experience as a Jr. Programmer which focused on Data Management 
                  which tasks includes wrote stored procedures and SQL scripts, 
                  analyze reports and data management.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
<%- include partials/bottom_nav.ejs %>    
<%- include partials/footer.ejs %>  
  